#header-right-block{
	max-width: 190px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
}
#header-right-block div a{
	font-size: 18px;
	font-family: 'Varela Round';
	text-transform: capitalize;
	color: white;
}
.header-sign{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	max-width: 100px;
	width: 100%;
	height: 40px;
	border-radius: 25px;
	border: 2px solid none;
	-webkit-transition-property: all;
	-o-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.3s;
	     -o-transition-duration: 0.3s;
	        transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	     -o-transition-timing-function: ease-out;
	        transition-timing-function: ease-out;
	-webkit-transition-delay: 0.25s;
	     -o-transition-delay: 0.25s;
	        transition-delay: 0.25s; 
}
.header-sign:hover{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	max-width: 100px;
	width: 100%;
	height: 40px;
	border-radius: 25px;
	border: 2px solid purple;
	background-color: purple;
}












/* burger code */
.toggle-menu {
    position:fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: none;
    z-index: 100;
}
.line {
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0); 
    transition: all 0.3s linear; 
}
.line1 {
    top: 30%;
}
.line3 {
    top: 70%;
}

/* როცა დავაწვები ბურგერს ვანიჭებ კლასის სახელს js-დან */
.active .line1 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.active .line2 {
    display: none;
}
.active .line3 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* დაჭრის შემდეგ ul-ის სტილები */
.nav-list.toggle {
    position: absolute;
    top: 0;
    left: 0;
    background-color: lightcoral;
    padding: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



/* responsive code */
@media (max-width:768px) {
    .toggle-menu {
        display: block;
    }
    .nav-list {
        display: none;
    }
}




/* slider */

.section-two {
	margin-top:290px;
}
.slider-wrapper{
	display: block;
	width: 100%;
	padding: 15px;
	position: relative;
}

.arrow{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	border-radius: 50%;
	font-size: 40px;
	cursor: pointer;
	color: #a7523d;
}
.arrow-left{
	left: 10%;
}
.arrow-right{
	right: 10%;
}
.slider-content{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.selectors{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	position: absolute;
	bottom: 0px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
}
.selector{
	height: 10px;
	width: 10px;
    border-radius: 10px 10px ;
	/* background-color: rgb(85, 78, 78); */
	margin: 10px;
	cursor: pointer;
}
.selector:hover,
.selector.active-selector{
	background-color: rgb(255, 30, 0);
}
.box-wrapper{
	display: inline-block;
	max-width: 157px;
	width: 100%;
	background-color: white;
	border-radius: 20px;
	padding: 60px 40px;
	margin: 20px;
	
}
.box{
	max-width: 200px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	text-align: center;
}
.box img {
   
    
    width: 700px;
    height: 500px;
    
}
.box img:hover{
	
	-webkit-box-shadow: 3px 3px 20px  #E76F51;
	        box-shadow: 3px 3px 20px  #E76F51;
	
	cursor: pointer;
}
.box p{
	font-family: 'Caveat';
	font-size: 15px;
}
.box p:first-letter{
	text-transform: capitalize;
}
.box h3{
	font-family: 'Luckiest Guy';
	font-size: 25px;
	text-transform: capitalize;
}





.list {
	
    margin: 0px auto;
    width: 35%;
    
}
.list-img img {
	max-width: 500px;
	width: 100%;
	max-height: 500px;
	height: 100%;
}
.list-element {
    width: 100%;
    margin: 25px 5px;
    font-family: arial;
    border-radius: 50px;
    padding: 10px 0px;
    color: #2196f3;
    font-size: 20px;
    text-align: center;
    box-shadow: 0px 0px 6px 0px #848484;
    display: none;
}
#loadmore {
    margin: 50px auto 50px;
    display: table;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
    border-radius: 50px;
    background-color: #684f41;
}
.list .list-element:nth-child(1) {
    display: block;
}
.list .list-element:nth-child(2) {
    display: block;
}



.BuyNow {
	max-width: 105px;
	color: black;
	background-color: rgb(218, 152, 98);
	border-radius: 50px;
	margin: 0 auto;
	cursor: pointer;
}






.overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #7c544a;
	opacity: 97%;
	z-index: 101;
	display: none;
}
.overlay.show{
	display: block;
}
.close,
.signin-close,
.signup-close{
	width: 30px;
	height: 30px;
	background-color: white;
	border-radius: 50%;
	position: fixed;
	top: 15px;
	right: 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 10px;
	font-size: 25px;
	color: #a56d5f;
	cursor: pointer;
}
.close:hover,
.signin-close:hover,
.signup-close:hover{
	-webkit-transform: scale(0.9);
	    -ms-transform: scale(0.9);
	        transform: scale(0.9);
}
.content{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 30%;
	width: 90%;
	margin: 0 auto;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-top: 100px;
}

.content h2,
.error-span-style{
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: white;
	font-size: 40px;
	letter-spacing: 5px;
}
.content p {
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: white;
	font-size: 30px;
	letter-spacing: 5px;
	margin-top: 30px;
}