
@media (max-width:900px) {
    .footer-div {
        display: none;
    }

}





@media (max-width:768px) {
    .toggle-menu {
        display: block;
    }
    .nav-list {
        display: none;
    }
	#header-right-block {
		margin: 0 auto;
	}
	.main-div {
		flex-wrap: wrap;
	}
	.section1-div2 {
		margin: 0 auto;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}