body {
    background-color: whitesmoke;
    background-image: url(https://images3.alphacoders.com/876/876952.jpg);
}

.headder-wraper{
   
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    z-index: 100;
    margin-bottom: 50px;
}
.container {
    max-width: 1420px;
    width: 100%;
    margin: 0 auto;
    height: 133px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 5px;

}
.headerimg {
    margin-top: auto;
    max-width: 100px;
    width: 100%;
    transition: 2s linear;
    transition-timing-function: ease-in-out;
    

}
.headerimg:hover{
    width: 400px;
}
.nav-list {
    max-width: 890px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #e7eaf1;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
   
    
   
}
.nav-list li {
    margin-right: 30px;
    
}
.nav-list li:hover {
    color: purple;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;


}
.registergif {
    max-width: 120px;
    width: 100%;
   
    
    
}
.icons {
    display: flex;
    justify-content: space-between;
    max-width: 150px;
    right: 0px;
    width: 100%;
    color: #e7eaf1;
    font-size: 25px;
}
.fa-map-marker-alt {
    cursor: pointer;
}

.order-li {
    display: none;
}
.registergif:hover {
    max-width: 130px;
    
}
/* .toggle-button {
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 30px;
    color: palevioletred;
    cursor:pointer;
    display: none;

}
.toggle-button:hover {
    font-size: 40px;
} */
.section1 {
    margin-top: 200px;
}

.main-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
    
}

.section1-div {
    max-width: 1550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    color: white;

    /* text-align: center; */
    align-items: center;
   
}

.section1h2 {
    font-size: 40px;
    margin-bottom: 40px;
   
    
}
.section1-div p {
    max-width: 650px;
    width: 100%;
    font-size: 25px;
   
}
.img {
   
    width: 100%;
    margin-top: 80px;
    padding-left: 100px;
   
}
.section1-div2 img{
    max-width: 700px;
    width: 100%;
}
.coffee-section {
    /* background-color: rgb(250, 249, 246); */
    margin-top: 133px;
}

.coffee-div {
    display: flex;
    justify-content: space-around;
    max-width: 1750px;
    width: 100%;
    padding-top: 100px;
    color: white;
   


}
.coffee-div h2 {
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.coffee-div p {
    max-width: 600px;
    width: 100%;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.coffee-img {
    display: flex;
    /* max-width: 8000px; */
    width: 100%;
    /* align-items: center; */
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 100px;
       
   
}
.coffee-img img {
    max-width: 1500px;
    width: 100%;
    box-shadow: 0 0 20px rgb(102, 98, 98);
}

.tea-section 

{
    /* background-color: peachpuff; */
    margin-top: 133px;
}
.ourtea {
    max-width: 150px;
    display: flex;
    margin: 0 auto;
    font-size: 40px ;
    font-family: Georgia, 'Times New Roman', Times, serif ;

}
.tea-div, .gift-div {
    display: flex;
    justify-content: space-around;
    max-width: 1750px;
    width: 100%;
    padding-top: 100px;
    color: white;
}

.tea-div h2, .gift-div h2{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tea-div p,  .gift-div p {
    max-width: 600px;
    width: 100%;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tea-img, .gift-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    

}
.tea-img img {
    box-shadow: 0 0 20px rgb(102, 98, 98);
    max-width: 1500px;
    width: 100%;
}
.gift-section {
    /* background-color: rgb(187, 145, 82); */
    margin-top: 133px;
}

.card-main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1720px;
    width: 100%;
    padding: 50px;
    
    
}



.card-div {
    display: flex;
    justify-content: space-around;
    max-width: 1720px;
    width: 100%;
    padding: 50px;
   
}
    
.jw-image {
    border-radius: 250px;
    max-width: 500px;
    width: 100%;
}
.gift-img img{
    
    max-width: 1720px;
    width: 100%;
   
}


.card-div .jw-image {
    max-width: 500px;
    width: 100%;
}
.card-container {
    display: flex; 
    justify-content: space-around;
    max-width: 1900px;
    width: 100%;
    margin-top: 200px;
    margin-bottom: 200px;
    color: rgb(204, 174, 2);
}
.cardline {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    
    

}
.cardline img {
    max-width: 380px;
    width: 100%;
    
   
}
.cardline,
.cardline img :hover {
   
    cursor: pointer;
    max-width: 400px;
    width: 100%;
}
.min-cont {
    display: flex;
    justify-content: center;
    max-width: 100px;
    width: 100%;
    border-radius: 50px;
    border: 2px 2px black;
    color: rgb(187, 159, 3);
    /* background-color: rgb(224, 184, 97); */
    font-size: 17px;
}
.min-cont :hover {
    color: blanchedalmond;
    /* background-color: black; */
    max-width: 120px;
    width: 100%;
    border-radius: 50px;
    border: 2px 2px black;
    display: flex;
    justify-content: center;
    font-size: 22px;

}









/* contact */

.contact-section {
    margin-top: 133px;
}

.contact-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1920px;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    
}
.contact-div h2 {
    color: rgb(255, 255, 255);
    font-size: 65px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}
.contact-div h3 {
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    margin-top: 50px;
    margin-bottom: 18px;

}
.contact-div p {
    font-size: 21px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.contact-wrapper {
    max-width: 1920px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 90px;
    
}
.formwrapper2 {
    max-width: 800px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    
   
}

.contact-form h3 {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}
.contact {
    max-width: 1500px;
    width: 100%;
    height: 35px;
    opacity: 1.0; 
    margin-bottom: 20px;
    border-radius: 5px;
    border-color: inherit;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
}
::-webkit-input-placeholder {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    opacity: 0.4;
}
::-moz-placeholder {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    opacity: 0.4;
}
:-ms-input-placeholder {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    opacity: 0.4;
}
::-ms-input-placeholder {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    opacity: 0.4;
}
::placeholder {
    color: rgb(97, 74, 74);
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    opacity: 0.4;
}
.submit {
    /* color: purple; */
    font-size: 25px;
    font-family: 'Emilys Candy', cursive;
    border-radius: 20px 20px 20px 20px;
    border-color: rgb(0, 0, 0);
    background-color: white;
    max-width: 150px;
    width: 100%;
    height:45px;
    margin-top: 30px; 
    cursor: pointer;
    -webkit-animation: submit 0.9s infinite; 
            animation: submit 0.9s infinite;
    
   
    
}
@-webkit-keyframes submit {
    0% {background-color: rgb(75, 62, 64);color: rgb(216, 241, 245);}
    25% {background-color: rgb(85, 30, 49);color: rgb(206, 233, 231);}
    50% {background-color: rgb(83, 55, 52);color: rgb(241, 228, 241);}
    75% {background-color: rgb(90, 49, 49);color: rgb(250, 237, 239);}
    100% {background-color: rgb(104, 66, 44);color: rgb(248, 238, 248);}
    
    
   
}
@keyframes submit {
    0% {background-color: rgb(75, 62, 64);color: rgb(216, 241, 245);}
    25% {background-color: rgb(85, 30, 49);color: rgb(206, 233, 231);}
    50% {background-color: rgb(83, 55, 52);color: rgb(241, 228, 241);}
    75% {background-color: rgb(90, 49, 49);color: rgb(250, 237, 239);}
    100% {background-color: rgb(104, 66, 44);color: rgb(248, 238, 248);}
   
}

.submit:hover {
    color:palevioletred;
    font-size: 30px;
    
}
.textwrap {
    max-width: 420px;
    width: 100%;
    height: 100px;
    border-radius: 5px 5px 5px 5px;
    border-color: inherit;
}
.small-div {
    max-width: 1400px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: center;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(255, 255, 255);
    
}
.address {
    margin-right: 50px;
    
}
.address h4,
.mail h4 {
    margin-bottom: 20px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}
.mapouter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-shadow: 5px 5px 10px 5px #8888;
                box-shadow: 5px 5px 10px 5px #8888;
}





































footer {
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.footer-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1720px;
    width: 100%;
    padding-left: 75px;
    padding-top: 20px;
   
}



.footer-div h4 {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.footer-nav{
    max-width: 180px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    margin: auto 0;
    line-height: 30px;
    font-size: 20px;
}
.footer-nav :hover {
    color: purple;
}
.footer-nav h2 {
    font-size: 20px;
}
.footer-nav h3 {
    font-size: 15px;
}
.footer-logos {
    max-width: 300px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        
    -webkit-box-pack:space-evenly;
    
        -ms-flex-pack:space-evenly;
    
            justify-content:space-evenly;
    
    
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: white;
    
}

.footer-logos i {
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, -webkit-transform 2s;
    -o-transition: width 2s, height 2s, transform 2s;
    transition: width 2s, height 2s, transform 2s;
    transition: width 2s, height 2s, transform 2s, -webkit-transform 2s;
}
.footer-logos i:hover {
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
    color: purple;
    
    

}
.foth4 {
   padding: 20px;
   font-size: 10px;
   color: #e7eaf1;
   font-family: 'Poppins', sans-serif;
} 

/* imput */

.input-wrp{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1860px;
    width: 100%;
    padding: 200px;
  }
  .input-wrp h1{
    font-size: 25px;
    color: rgb(194, 116, 106);
    padding-bottom: 30px;
  }
  
  .button {
    border: none;
    background-color: rgb(221, 188, 160);
    color: white;
    font-size: 20px;
    margin-left: 20px;
    border-radius: 10px;
   
    
  }
  .clear-list{
    margin-top: 30px;
    border: none;
    background-color: rgb(221, 188, 160);
    color: white;
    font-size: 20px;
    border-radius: 10px;
   
  }
  .clear-list:hover{
    cursor: pointer;
    background-color: rgb(185, 131, 110);
    font-size: 25px;
  }
  .button:hover{
    cursor: pointer;
    background-color:rgb(185, 131, 110);
    font-size: 25px;
  
  }
  .input{
    border: none;
    background-color: rgb(253, 186, 169);
    border-radius: 10px;
    font-size: 20px;
    color: rgb(44, 42, 42);
  
  }
  .ul-list li{
    margin-left: 85px;
    margin-top: 10px;
    font-size: 22px;
    color: rgb(214, 109, 77);
  }
  .btn-delete{
    border: none;
    background-color: transparent;
    font-size:30px;
    color: rgb(139, 107, 81);
    cursor: pointer;
  }
  .privacy {
      max-width: 1800px;
      width: 100%;
      margin-top: 150px;
      margin-bottom: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      
  }

  .privacy h2 {
      font-size: 22px;
      font-family: Arial, Helvetica, sans-serif;
      margin-top: 15px;
  }
  .privacy p {
      font-size: 17px;
      font-family: Arial, Helvetica, sans-serif;
      margin-top: 10px;
  }